<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <script src="https://kit.fontawesome.com/9fc067fd17.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/create-post-forum.css' %}" />
    <link rel="stylesheet" href="{% static 'css/user-home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navigation-bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/user-profile.css' %}">

    <title>User-Home Page</title>
  </head>
  <body>
  {% include 'blog/navbar.html' %}
  {% include 'blog/popups/create-post-forum.html' %}
  {% block content %}


  {% endblock content %}
  
    <script src="{% static 'js/popup.js' %}"></script>
    <script src="{% static 'js/index-img-slider.js' %}"></script>
  </body>

  </html>