<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}

    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="{% static 'css/user-home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navigation-bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/user-profile.css' %}">

    <title>User-Home Page</title>
  </head>
  <body>
  {% include 'blog/navbar.html' %}
  {% block content %}


  {% endblock content %}
  </body>
  </html>