<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <script src="https://kit.fontawesome.com/9fc067fd17.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/create-post-forum.css' %}" />
    <link rel="stylesheet" href="{% static 'css/user-home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navigation-bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/user-profile.css' %}">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" integrity="sha256-5uKiXEwbaQh9cgd2/5Vp6WmMnsUr3VZZw0a8rKnOKNU=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js" integrity="sha256-FZsW7H2V5X9TGinSjjwYJ419Xka27I8XPDmWryGlWtw=" crossorigin="anonymous"></script>
    <title>User-Home Page</title>
  </head>
  <body>
  {% include 'blog/navbar.html' %}
  {% include 'blog/popups/create-post-forum.html' %}

  {% block content %}


  {% endblock content %}
  
    <script src="{% static 'js/popup.js' %}"></script>
    
  </body>

  </html>