{% load static %}
<!--Navigation Bar Start-->
<nav>
    <!--left side navigation bar start-->
    <div class="nav-left">
        <div class="nav-left-inner">
            <a href="{% url 'index'%}">
                <div class="logo"><img src="{% static 'img/logo.png' %}"></div>
            </a>
        </div>
    </div>
    <!--left side navigation bar end-->


    <!--Middle side navigation bar start-->
    <div class="nav-middle">
        <div class="search-box">
            <div class="search-box-inner">
                <img src="{% static 'img/search.png' %}" alt="">
                <input type="text" placeholder="Search">
            </div>
        </div>
    </div>
    <!--Middle side navigation bar end-->


    <!--right side navigation bar start-->
    <div class="nav-right">
        
        <ul> 
            <li>
                <a href="{% url 'index'%}" class="nav-icon"> <!--Home Icon-->
                    <i class="fas fa-home"></i>
                </a>
            
            </li>
            <li>
                <a href="#3" class="create-post-icon"> <!--Post Icon-->
                    <i class="fas fa-plus-circle"></i>
                </a>
            </li>
            <li>
                <a href="#2" class="nav-icon active" id="messages-notification" onclick="navigationsMenuToggle()"> <!--Notification Icon-->
                    <i class="fas fa-bell"><small class="notification-count">6</small></i>
                </a>
            </li>
            
        </ul>
        {% if request.user.is_authenticated %}
        <div class="nav-user-icon online" onclick="settingsMenuToggle()">
            <img src="{% static 'img/1.jpeg' %}" alt="">
        </div>
        {% else %}
        <div class="nav-user-icon online" onclick="settingsMenuToggle()">
            <img src="{% static 'img/log-icon.png' %}" alt="">
        </div>
        {% endif %}
    </div>
    <!--right side navigation bar end-->



    <!----------------User setting menu Start----------------->
    <div class="settings-menu">

        <div class="settings-menu-inner">
            {% if request.user.is_authenticated %}
            <div class="user-profile"> <!--Line 1-->
                <img src="{% static 'img/1.jpeg' %}">
                <div>
                    <h2>Ray Cai</h2>
                    <a href="http://127.0.0.1:5500/Queendom/user-profile.html">See your profile</a>
                </div>
            </div>
            <hr> <!--setting menu分割线-->          
            <div class="setting-links"> <!--Line 6-->
                <img src="{% static 'img/logout.png' %}" class="settings-icon">
                <a href="{% url 'logout' %}">Logout <img src="{% static 'img/arrow.png' %}" width="10px"></a>
            </div>

            {% else %}
            <div class="user-profile"> <!--Line 1-->
                <img src="{% static 'img/log-icon.png' %}">
                <div>
                    <p>Sign In/Sign Up</p>
                    <a href="/login">Log in/Sign up with your account</a>
                </div>
            </div>
            <hr> <!--setting menu分割线-->
            {% endif %}
        </div>
    </div>
    <!----------------User settisng menu End----------------->

</nav>

<script src="{% static 'js/nav-bar.js' %}"></script>
<!--Navigation Bar End-->