*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body{
    background: #ffffff;
}

@keyframes fadeIn { /*Fade In Animation*/
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


/*-----------------Chat Page Start---------------------*/
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    animation: fadeIn 1s; 
    background: #ffffff;
}
.container{
    width: 60rem;
    height: 80vh;
    max-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.m-info{
    margin-top: 20px;
    position: relative;
    width: 90%;
    height: 10vh;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
.m-info .avatar{
    margin-left: 10px;
}

.user-info{
    position: absolute;
    padding-left: 70px;

}
.user-name h2{
    font-size: 20px;
}

/*--Left Chat Box--*/
.chate-liste{
    width: 40%;
    white-space: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Poppins';
    box-shadow: 2px 4px 20px rgba(119, 119, 119, .5);
    height: 80vh;
    max-height: 80vh;
}
.chate{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.467);
    box-shadow: 2px 4px 20px rgba(119, 119, 119, .5);
}

/*--Right More Icon--*/
.icon{
    position: relative;
    padding-left: 195px;
}
.icon i{
    position: absolute;
    bottom: 30px;
    color:rgb(0, 0, 0);
    cursor: pointer;
    right: -35%;
}

/*--Search Box--*/
.chat-search-box{
    background:#efefef;
    width: 330px;
    border-radius: 20px;
    display: flex;
    align-items:center;
    margin: 10px 10px;
    padding: 0 15px;
}
.chat-search-box img{
    width: 18px;
}
.chat-search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

/*--Message--*/
.friends{
    display: flex;
    align-items: center;
    width: 100%;
    height: 4rem;
}
.friends .avatar{
    margin-left: 10px;
    margin-right: 10px;
}
.mesg-info{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.ms-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sender-name{ /*--Sender--*/
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
}
.time{ /*--Time--*/
    color: #a5a5a5;
    font-size: 14px;
    margin-right: 20px;
}
.time span{
    color: #ffffff;
    border-radius: 100%;
    margin: 20px;
}
.action span{ /*--Action--*/
    color: #ab2222;
    font-size: 80%;
}
.mesg-active{
    padding: 0 5px;
    background: #ab2222;
    border-radius: 100%;
    font-size: 60%;
}

.chat-btn { /*Show all activities btn*/
    left:50%;
    width: 200px;
    background-color: #b02828;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 21%;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 2px 5px  rgba(0, 0, 0, 0.6);
  }

.chat-btn:hover {
background-color: #f28f1e;
}
.chat-active{
    background: #ebc8c8;
}

/*----改了的地方-----*/
.last-chat{
    background-color: #41db51;
}
.chat-active::before{
    display: block;
    height: 100%;
    width: 0.5rem;
    background: var(--color-primary);
}
/*----改了的地方-----*/


/*----Chat-----*/
.chat-header{
    width: 100%;
    height: 10vh;
    background: #ab2222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sender-avatar img{
    width: 45px;
    border-radius: 50%;
    margin-left: 30px;
}
.sender-action{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sender-action h3{
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
}
.sender-action span{
    font-size: 15px;
    color: #fff;
}
.icons i{
    color: #fff;
    font: 15px;
    cursor: pointer;
    margin-left: 15px;
}
.chat-body{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.message-sender, .message-reciver{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.message-sender{
    flex-direction: row-reverse;
}
.message-sender-message{
    height: auto;
    width: 50%;
    margin-right: 1rem;
    background: #fff9d6;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.message-sender-message p{
    padding: 10px;
    font-size: 10px;
    text-align: center;
}
.message-reciver-message{
    height: auto;
    width: 50%;
    margin-left: 1rem;
    background: #ebc8c8;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.message-reciver-message p{
    padding: 10px;
    font-size: 10px;
    text-align: center;
}
.message-sender-avatar img, .message-reciver-avatar img{
    width: 45px;
    border-radius: 50%;
}

.message-box{
    background:#efefef;
    width: 487px;
    margin: 20px 0;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items:center;
    padding: 0 15px;
    position: sticky;
    top: 1000px;
}
.message-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
/*-----------------Chat Page End---------------------*/


/*-----------------footer Start---------------------*/
.footer{
    padding: 5px;
    text-align: center;
    color: #9a9a9a;
    margin: 0;
    font-size: 13px;
}