*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

body{
    background: #ffffff;
}

/*-------------------Navigation Bar Start------------------*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 2px 4px 20px rgba(119, 119, 119, .5);
}
.logo{
    margin-right: 45px;
}
.logo img{
    margin-top: 2px;
    height: 39px;
}
.nav-left, .nav-right{
    display: flex;
    align-items: center;
}
.nav-user-icon{
    margin-left: 30px;
}
.nav-user-icon img{
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.navbar a {
    float: right;
    color: black;
    text-align: baseline;
    text-decoration: none;
    font-size: 17px;
  }
  
.navbar a:hover {
    color: #ab2222
}
.search-box{
    background:#efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items:center;
    padding: 0 15px;
}
.search-box img{
    width: 18px;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.nav-right ul li{
    list-style: none;
    display: inline-block;
}
.nav-right ul li a i{
    color: #141e5f;
    width: 28px;
    margin: 0 15px;
}
.nav-right ul li a i:hover{
    color: rgb(169, 29, 29);
}
.online{ /*online status of user*/
    position: relative;
}
.online::after{
    content: '';
    width: 5px;
    height: 5px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}
/*-------------------Navigation Bar End------------------*/


/*-------------------Setting menu Start------------------*/
.settings-menu{
    position: absolute;
    width: 90%;
    max-width: 350px;
    height: 410px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.3s;
}
.settings-menu-height{
    max-height: 410px;
}
.settings-menu-inner{
   padding: 20px; 
}
/*----User Profile----*/
h2{
    margin-left: 2px;
    font-size: 1rem;
}
.nav-tab{
    display: flex;
    align-items: center;
}
.nav-tab img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.nav-tabsmall{
    padding-right: 10px;
    font-size: 12px;
}
.nav-tab a{
    font-size: 12px;
    color: #ab2222;
    text-decoration: none;
}
nav-profile a{
    list-style: none;
    display: block;
    transition: all .3s ease-in-out;
}
nav-profile a:hover{
    background: #edd6d6;
}
nav-profile .active{
    background: #ebc8c8;
}
.settings-menu hr{ /*setting menu分割线*/
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;
}
.setting-links{
    display: flex;
    align-items: cneter;
    margin: 15px 0;
}
.setting-links .settings-icon{
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}
.setting-links a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
}
/*-----------------Setting menu End---------------------*/

/*-----------------Navigation menu Start---------------------*/
.navigations-menu{
    position: absolute;
    width: 90%;
    max-width: 370px;
    height: 470px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 19%;
    max-height: 0;
    transition: max-height 0.3s;
    overflow-y: scroll;
}
.navigations-menu-height{
    max-height: 470px;
}
.navigations-menu-inner{
   padding: 20px; 
}
.navigations-menu hr{ /*setting menu分割线*/
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;
}
.btn { /*Show all activities btn*/
    left:50%;
    width: 200px;
    background-color: #b02828;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 55px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 2px 5px  rgba(0, 0, 0, 0.6);
  }
.btn:hover {
background-color: #f28f1e;
}

.navigation-text{
    color: #000000;
    font-size: 15px;
    padding: 5px 0;
    text-align:left
}
.navigation-text span{
    color: #b02828;
    font-weight: 500;
}
.navigation-time{
    color: #9a9a9a;
    font-size: 13px;
    text-align:left
}
.navigations-menu-inner i{
    color: #ab2222;
}

nav-profile .wordbtn{
    width: 65px;
    height: 60px;
    margin: 5px 5px;
    font-family: "Poppins", sans-serif;
    background: none;
    position: sticky;
    left: 1000px;
    border-color: #ab2222;
    cursor: pointer;
    color:#ab2222;
    font-weight: 500;
    font-size: .5rem;
}
.wordbtn:hover{
text-decoration: underline;
}
  
/*-----------------Navigation menu End---------------------*/
@keyframes fadeIn { /*Fade In Animation*/
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeOut { /*Fade In Animation*/
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

/*-----------------Navigation Page Start---------------------*/
.container{
    background: #fff;
    width: 900px;
    height: 900px;
    margin: 0 auto;
    position: relative;
    margin-top: 4%;
  /*--  box-shadow: 2px 5px 20px rgba(119, 119, 119, .5);--*/
    animation: fadeIn 1s;
}
/*----Left Box----*/
.leftbox{
    float: left;
    top: 5%;
    left: 23%;
    padding-top: 40px;
    height: 670px;
    box-shadow: 2px 5px 20px rgba(119, 119, 119, .5);
    background-color: #fff;
    position: fixed;
}
.title h2{
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 10px;
    padding-top: 0;
}
.leftbox hr{ /*setting menu分割线*/
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;
    box-shadow: 2px 5px 20px rgba(119, 119, 119, .5);
}

/*----Right Box----*/

.rightbox{
    width: 60%;
    margin-left: 45%;
    padding-top: 4%;
    padding-left: .5px;
}
.nav-tabShow{
    transition: all .5s ease-in;
    width: 80%;
}
/*--ALL Post--*/
.post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 40px;
    color: #626262;
    margin: 20px 0;
}
.post-user-profile span{
    font-size: 10px;
    color: #9a9a9a;
}

.post-text{
    color: #000000;
    font-size: 15px;
    padding: 5px 0;
    text-align:left
}
.post-text span{
    color: #ab2222;
    font-weight: 500;
}
.post-text a{
    color: #243081;
    text-decoration: none;
}
.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}

.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activity-icons{
    width: 138px;
    position: sticky;
    margin-right: 0;
    left: 1000px;
}
.activity-icons div img{
    width: 18px;
    margin: 10px;
}
.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
    font-size: 13px;
}
.activity-icons a{
    color: #626262;
}
.rightbox hr{ /*setting menu分割线*/
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;
}

.comment-box{
    background:#efefef;
    width: 430px;
    border-radius: 20px;
    display: flex;
    align-items:center;
    padding: 0 15px;
}
.comment-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.post-row a{
    color: #9a9a9a;
}
.nav-tabShow{
    display: none;
}


/*-----------------Navigation Page End---------------------*/

/*-----------------footer Start---------------------*/
.footer{
    padding-top: 85px;
    text-align: center;
    color: #9a9a9a;
    margin: 0;
    font-size: 13px;
}