*
{
    margin: 0;
    padding: 0;
}
section {
    padding: 5em 2em;
}
.cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/cover-image.JPG);
    height: 585px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.container{
    text-align: center;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.left-col img {
    padding-top: 150px;
    background-position: center;
    padding-right: 15px;
    width: 570px;

}
.left-col .slogan {
    font-size: 1.8em;
    text-align: center;
    font-weight: bold;
    color: white;
    letter-spacing: .3em;
}