*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body{
    background: #ffffff;
}


@keyframes fadeIn { /*Fade In Animation*/
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*-----------------User-Profile Page Start---------------------*/
.container{
    background: #fff;
    width: 700px;
    height: 590px;
    margin: 0 auto;
    position: relative;
    margin-top: 5%;
    box-shadow: 2px 5px 20px rgba(119, 119, 119, .5);
    animation: fadeIn 1s;
}
/*----Left Box----*/
.leftbox{
    float: left;
    top: -5%;
    left: -5%;
    position: absolute;
    width: 35%;
    height: 110%;
    background: #141e5f;
    box-shadow: 4px 3px 10px rgba(119, 119, 119, .5);
    border: 0.1em solid #fff;
}
nav-profile a{
    list-style: none;
    padding: 30px;
    color: #fff;
    font-size: 1.1em;
    display: block;
    transition: all .3s ease-in-out;
}
nav-profile a:hover{
    background: #0f174e;
}
nav-profile .active{
    background: #040a31;
}




/*----Right Box----*/
.rightbox{
    width: 60%;
    margin-left: 40%;
    padding-top: 40px; 
}
.tabShow{
    transition: all .5s ease-in;
    width: 80%;
}
h1{
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: 1.5rem;
}
.rightbox h2{
    margin-left: 2px;
    margin-top: 15px;
    font-size: 1rem;
}
select{
    margin-top: 5px;
    border-radius: 1.2em;
    border: 1px solid #9a9a9a;
    width: 80%;
    padding: 7px 0;
    color: #626262;
    outline: none;
}


.input, .profile p{
    border: 0;
    border-bottom: 1px solid #9a9a9a;
    width: 80%;
    font-size: .8em;
    padding: 7px 0;
    color: #626262;
    outline: none;
}

.save-btn {
    width: 200px;
    background-color: #b02828;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 15px 35px;
    margin-left: 0;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 2px 5px  rgba(0, 0, 0, 0.6);
  }
  .save-btn:hover {
    background-color: #f28f1e;
  }
  .wordbtn {
    display: flex;
    font-family: "Poppins", sans-serif;
    background: none;
  
    cursor: pointer;
    color:#ab2222;
    font-weight: 500;
    font-size: 0.7rem;
  }
  .wordbtn:hover{
    text-decoration: underline;
  }


/*----Change Password Icon----*/
.forget-passwordbtn{
    display: flex;
    font-family: "Poppins", sans-serif;
    background: none;
    border: none;
    cursor: pointer;
    color:#ab2222;
    font-weight: 500;
    font-size: 1rem;
    margin: 0px 72px;
    margin-left: 0;
}

/*-----Privacy Icon----*/
.blocked-menu{
    position: absolute;
    width: 200px;
    max-width: 300px;
    height: 315px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 20%;
    right: 13%;
    max-height: 0;
    transition: max-height 0.3s;
}
.blocked-menu-height{
    max-height: 470px;
}
.blocked-menu hr{ /*setting menu分割线*/
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;
}
.blocked-menu-inner{
    display: flex;
    width: 600px;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
}
.blocked-menu select{
    margin: 10px 15px;
    border-radius: 1.2em;
    border: 1px solid #9a9a9a;
    width: 15%;
    padding: 7px 0;
    color: #626262;
    outline: none;
}

/*----Help Icon----*/
.write-post-container{ /*Write*/
    width: 100%;
    background: #fff;
    border-radius: 6px;
    color: #626262;
}
.title-box{
    background:#efefef;
    width: 330px;
    display: flex;
    align-items:center;
    padding: 0;
}
.title-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.post-input-container textarea{
    padding-top: 20px;
    width: 100%;
    height: 160px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}
.write-post-container h3{
    margin-bottom: 10px;
}

.tabShow{
      display: none;
  }
/*-----------------User-Profile Page End---------------------*/


/*-----------------footer Start---------------------*/
.footer{
    padding-top: 85px;
    text-align: center;
    color: #9a9a9a;
    margin: 0;
    font-size: 13px;
}